
/* GENERAL RULES */

html{
  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: rgb(61, 60, 58);
}

.h2-layout{
  font-size: 2.5rem;
  font-weight: 1000;
}

.h3-layout{
  font-size: 1.75rem;
  font-weight: 590;
}

.relative-top{
  position: relative;
  top: 22px;
}

.relative-top-mobile{
  position: relative;
  top: 40px;
}

/* HEADER SECTION */

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  width: 100%;
  background-color: white;
  position: fixed;
  z-index: 2;
  top: 0px;
  border-bottom: 2px solid lightgray;
}

.header .header-section{
  display: flex;
  margin-left: 24px;
}

nav .header-mobile{
  display: none;
}

nav{
  display: flex;
  margin-right: 24px;
  flex-direction: row;
}

.header li{
  display: inline-flex;
  margin-left: 16px;
}

.header a{
  text-decoration: none;
  color: rgb(61, 60, 58);
}

.header a:hover{
  font-weight: bold;
  text-decoration: underline;
}

@media only screen and (max-width: 850px){

  .header{
    display: none;
  }

  .header-mobile{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0px;
    background-color: white;
    border-bottom: 2px solid lightgray;
    height: 64px;
  }

  .header-mobile img{
    display: inline-flex;
    margin-top: 1rem;
  }

}

/* BANNER SECTION */

.banner{
  background-color: lightgray;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.banner img{
  display: flex;
  width: 60%;
  height: 100%;
  padding: 32px 24px;
}

.banner-learn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 30%;
}

.banner-title{
  display: flex;
  margin: 0px 50px;
  width: 85%;
}

.banner-text{
  display: flex;
  margin: 12px 50px;
  width: 85%;
}

.banner-button{
  display: flex;
  font-size: 1.2rem;
  background-color: rgb(61, 60, 58);
  color: white;
  margin-left: 50px;
  margin-top: 40px;
  width: 85%;
  padding: 8px;
  justify-content: center;
  text-decoration: none;
}

.banner-learn a,
.banner-mobile a{
  color: white;
  text-decoration: none;
}

.banner-learn .banner-button:hover,
.banner-mobile .banner-button:hover{
  background-color: rgb(105, 105, 105);
}

.banner-mobile{
  display: none;
}

@media only screen and (max-width: 850px){

  .banner{
    display: none;
  }

  .banner-mobile{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: lightgray;
  }

  .banner-mobile img{
    width: 100%;
  }

  .banner-title{
    margin: 32px 16px;
  }

  .banner-text{
    margin: 0px 16px;
  }

  .banner-button{
    margin: 24px auto 32px auto;
    padding: 8px;
  }
}

/* INFORMATION SECTION */

.information{
  display: inline-flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
}

.practicing-whole{
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 32px 24px;
}

.practicing-whole h2{
  margin-top: 32px;
  margin-bottom: 12px;
}

.information-highlights{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 40%;
}

.info-highlight{
  display: inline-flex;
  padding: 16px;
  border-left: 2px solid lightgray;
  border-bottom: 2px solid lightgray;
}

.info-highlight img{
  width: 35%;
  height: 100%;
  padding: 26px;
}

.info-highlight .highlight-text{
  align-items: center;
  justify-content: flex-start;
}

.highlight-text a{
  color: rgb(7, 149, 247);
  text-decoration: none;
}

.information-highlights .info-highlight:nth-child(3n){
  background-color: lightgray;
}

.information a:hover,
.information-mobile a:hover{
  text-decoration: underline;
  font-weight: bold;
}

.information-mobile{
  display: none;
}

@media only screen and (max-width: 850px){

  .information{
    display: none;
  }

  .information-mobile{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
  }

  .information-mobile img{
    margin: 16px auto 16px auto;
    width: 100%
  }

  .information-mobile h3{
    font-size: 1.75rem;
    font-weight: 590;
    margin: 0px 0px 8px 16px;
  }

  .information-mobile p{
    margin-left: 16px;
    margin-bottom: 0px;
  }

  .information-mobile a{
    color: rgb(7, 149, 247);
    text-decoration: none;
    margin-top: 8px;
  }

  .read-more-special{
    padding-bottom: 32px;
  }
}

/* LEARNING SECTION */

.start-learning{
  background-color: lightgray;
  margin: 0px 24px;
}

.start-learning h2{
  padding-top: 32px;
  text-align: center;
}

.courses{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 0px 72px 32px 72px;
  flex-wrap: wrap;
}

.course{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 25%;
  background-color: white;
  margin: 16px;
}

.course img{
  width: 100%;
}

.course-title{
  margin: 16px;
}

.course a{
  color: rgb(61, 60, 58);
  text-decoration: none;
}

.course a:hover{
  font-weight: bold;
  text-decoration: underline;
}

.course-text{
  margin: 8px 16px;
  font-size: 0.9rem;
}

.course-details{
  margin: 8px 0px 32px 16px;
}

.course .course-large{
  margin-bottom: 11px;
}

.start-learning-mobile{
  display: none;
}

@media only screen and (max-width: 850px){

  .start-learning{
    display: none;
  }

  .start-learning-mobile{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
  }

  .start-learning-mobile h2{
    text-align: center;
    margin-top: 32px;
    margin-bottom: 8px;
  }

  .start-learning-mobile h3{
    background-color: lightgray;
    padding: 16px 0 24px 16px;
    margin: 8px 16px 0 16px;
    font-size: 1.5rem;
  }

  .start-learning-mobile .start-learning-mobile-special{
    margin-bottom: 32px;
  }

  .start-learning-mobile a{
    color: rgb(61, 60, 58);
    text-decoration: none;
  }

  /* .start-learning-mobile a:hover{
    font-weight: bold;
    text-decoration: underline;
  } */

  .start-learning-mobile h3:hover{
    background-color: rgb(61, 60, 58);
    color: lightgray;
  }

}

/* THESIS EXHIBIT SECTION */

.thesis-exhibit-container{
  display: inline-flex;
}

.thesis-exhibit h2{
  padding-top: 32px;
  text-align: center;
}

.thesis-video{
  width: 60%;
  margin: 0 12px 32px 24px;
}

.thesis video{
  width: 100%;
}

.thesis-video h3{
  text-align: left;
}

.thesises{
  width: 40%;
}

.thesises .thesis:nth-child(2n+1){
  background-color: lightgray;
}

.thesises img{
  width: 35%;
  height: auto;
  padding: 16px;
}

.thesis{
  display: inline-flex;
  height: 30%;
  width: 100%;
  border: 2px solid lightgray;
}

.thesis-text{
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.thesis-text h3,
.thesis-text p{
  text-align: left;
  justify-content: center;
  margin-top: 0px;
}

.thesis-exhibit-mobile{
  display: none;
}

@media only screen and (max-width: 850px){

  .thesis-exhibit{
    display: none
  }

  .thesis-exhibit-mobile{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
  }

  .thesis-exhibit-mobile h2{
    text-align: center;
    margin: 32px 0 16px 0;
  }

  .thesis-exhibit-mobile video{
    width: 100%;
    margin-bottom: 24px;
  }

}

/* FOOTER SECTION */

.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid lightgray;
}

.footer p,
.footer ul{
  display: flex;
  margin-left: 24px;
}

.footer li{
  display: inline-flex;
  margin-right: 24px;
}

.footer a{
  text-decoration: none;
  color: rgb(61, 60, 58);
}

.footer a:hover{
  font-weight: bold;
  text-decoration: underline;
}

.footer-mobile{
  display: none;
}

@media only screen and (max-width: 850px){

  .footer{
    display: none;
  }

  .footer-mobile{
    display: flex;
    border-top: 2px solid lightgray;

  }

  .footer-mobile p{
    margin: 16px;
  }
}
